{{#if error}}
<div class="feedback feedback--error" role="alert">{{error}}</div>
{{/if}}

{{#if showTable}}
  {{#if hasSubscribers}}
  <table>
    <thead>
      <tr><th>Email</th><th>Channel</th><th>Status</th><th>Subscribed</th></tr>
    </thead>
    <tbody>
      {{#each subscribers}}
      <tr>
        <td>{{this.email}}</td>
        <td>{{this.channel_id}}</td>
        <td>{{this.status}}</td>
        <td>{{formatDate this.created_at}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p><small>No subscribers match the current filters.</small></p>
  {{/if}}
{{/if}}