{{#> admin-layout pageTitle="Channels" activePage="channels"}}
{{#*inline "content"}}

<hgroup>
  <h1>Channels</h1>
</hgroup>
<p><a href="/admin/channels/new" role="button">Create channel</a></p>

{{#if error}}
<div class="feedback feedback--error" role="alert">{{error}}</div>
{{/if}}

{{#if success}}
<div class="feedback feedback--success" role="status">{{success}}</div>
{{/if}}

{{#if hasChannels}}
<table>
  <thead>
    <tr><th>ID</th><th>Site Name</th><th>Site URL</th></tr>
  </thead>
  <tbody>
    {{#each channels}}
    <tr>
      <td><a href="/admin/channels/{{this.id}}">{{this.id}}</a></td>
      <td>{{this.siteName}}</td>
      <td>{{this.siteUrl}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p><small>No channels yet. Create your first channel to get started.</small></p>
{{/if}}

{{/inline}}
{{/admin-layout}}